.list-card {
  max-height: 450px;
  min-width: 30%;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  max-height: 375px;
  width: 100%;
}

.a, a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

.cstm-w-100 {
  width: 100px;
}

.cstm-w-150 {
  width: 150px;
}

.cstm-w-200 {
  width: 200px;
}

.cstm-w-250 {
  width: 250px;
}

.cstm-w-300 {
  width: 300px;
}

.cstm-w-full {
  width: 100%;
}

.cstm-w-qtr {
  width: 25%;
}

.cstm-w-half {
  width: 50%;
}

.cstm-w-3rd {
  width: 33%;
}

.cstm-w-2-3rd {
  width: 66%;
}

.cstm-w-3-qtr {
  width: 75%;
}

.is-layout-flex {
  display: flex;
  // flex-wrap: wrap;
  align-content: space-between;
  padding: 0px;
  margin: 0px;
}

// .is-layout-flow .wp-block-image {
//   // width: 100%;
//   display: flex;
//   flex-wrap: wrap;
//   padding: 0px;
//   margin: 0px;
// }

.aligncenter, .has-text-align-center{
  text-align: center;
}

pre {
  max-height: 200px;
  overflow: scroll;
}

.wp-block-columns {
  justify-content: space-between;
}

.is-layout-flow ul {
  list-style-type: none;
}

.border-rounded {
  border: 1px solid grey;
  border-radius: 5px;

}

.is-content-justification-center {
  justify-content: center;
}