.list-card {
  max-height: 450px;
  min-width: 30%;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  max-height: 375px;
  width: 100%;
}

.a, a:link, a:visited, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}